In [1]:
#Install Tweepy API
#Tweepy API class provides access to the entire Twitter API methods
!pip3 install tweepy

Requirement already satisfied: tweepy in ./opt/anaconda3/lib/python3.8/site-packages (4.10.1)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in ./opt/anaconda3/lib/python3.8/site-packages (from tweepy) (1.3.1)
Requirement already satisfied: requests<3,>=2.27.0 in ./opt/anaconda3/lib/python3.8/site-packages (from tweepy) (2.28.1)
Requirement already satisfied: oauthlib<4,>=3.2.0 in ./opt/anaconda3/lib/python3.8/site-packages (from tweepy) (3.2.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./opt/anaconda3/lib/python3.8/site-packages (from requests<3,>=2.27.0->tweepy) (1.26.4)
Requirement already satisfied: charset-normalizer<3,>=2 in ./opt/anaconda3/lib/python3.8/site-packages (from requests<3,>=2.27.0->tweepy) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/lib/python3.8/site-packages (from requests<3,>=2.27.0->tweepy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.8/site-packages (from requests<3,>=2.27.0->tweepy) (2020.12.5)

In [2]:
!pip install langdetect

Requirement already satisfied: langdetect in ./opt/anaconda3/lib/python3.8/site-packages (1.0.9)
Requirement already satisfied: six in ./opt/anaconda3/lib/python3.8/site-packages (from langdetect) (1.15.0)

In [3]:
import tweepy
import sys
import os
import codecs
import re
import csv
from langdetect import detect
import time
import pandas as pd

In [5]:
client=tweepy.Client(bearer_token='AAAAAAAAAAAAAAAAAAAAAHMJhAEAAAAA1tFq8UzI9qDbcfZNz6hPfryKu%2FU%3DhtHMk5M33hFjUTPBB5ifniI8dpskO3BMxL0PrmCpEyhLHKs8u7',wait_on_rate_limit=True)

In [52]:
test_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = '#bankofengland OR #foodpricesurge OR #minibudget OR #costoflivingcrisis OR #highinflation OR #energypricesurge OR #energycris OR #ukinflation OR #pmresigns OR #borisjohnson OR #liztruss OR #ukeconomy OR #fuelpricesurge OR #industrialstrikes OR #strikes OR #energybill -is:retweet lang:en',
                                 user_fields = ['username', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'public_metrics', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-05-01T00:00:00Z',
                                 end_time = '2022-05-31T23:59:59Z',
                                 max_results=500, limit=1000):
    
    time.sleep(1)
    test_tweets.append(response)

Rate limit exceeded. Sleeping for 168 seconds.
Rate limit exceeded. Sleeping for 163 seconds.

In [53]:
result = []
user_dict = {}
# Loop through each response object
for response in test_tweets:
    # Take all of the users, and put them into a dictionary of dictionaries with the info we want to keep
    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'location': user.location
                             }
    for tweet in response.data:
        # For each tweet, find the author's information
        author_info = user_dict[tweet.author_id]
        # Put all of the information we want to keep in a single dictionary for each tweet
        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at,
                       'tweet_location': tweet.geo,
                       'retweets': tweet.public_metrics['retweet_count'],
                       'replies': tweet.public_metrics['reply_count'],
                       'likes': tweet.public_metrics['like_count'],
                       'quote_count': tweet.public_metrics['quote_count']
                      })

# Change this list of dictionaries into a dataframe
df = pd.DataFrame(result)

In [54]:
df

,author_id,username,author_location,text,created_at,tweet_location,retweets,replies,likes,quote_count
0,2233626266,ChristieElanCan,Pronoun: per/per/perself,@PaulDuddridge Do you believe we should now ge...,2022-05-31 23:59:30+00:00,None,0,1,0,0
1,257088949,mycomfor,deutscher Sprachraum,#BorisJohnson’s allies lobby MPs to stop Tory ...,2022-05-31 23:56:46+00:00,None,0,0,0,0
2,95199214,yllekonadnerb,Dublin,RT @RachelG21879460: My mp Kelly Tolhurst says...,2022-05-31 23:56:28+00:00,None,11,0,0,0
3,1527052987436355585,PaulLove8484,None,"Mr #BorisJohnson . I keep hearing ""they get am...",2022-05-31 23:56:17+00:00,None,0,0,0,0
4,611585332,Bonn1eGreer,London UK &.....Meta Africa,"According to your article, #BorisJohnson left ...",2022-05-31 23:54:54+00:00,None,8,7,14,2
...,...,...,...,...,...,...,...,...,...,...
305940,1328274379558563846,killhd1,Paris,RT @andrebercoff: Un spectre hante désormais l...,2022-05-01 00:00:10+00:00,None,5060,0,0,0
305941,2890378990,PPALtd,Glasgow,@AdamFowle @AugustaLees @HarryMo76998704 @shar...,2022-05-01 00:00:06+00:00,None,1,0,3,0
305942,1073676020,IndiaTodayFLASH,None,RT @IndiaToday: Boris On Bulldozer: Members of...,2022-05-01 00:00:04+00:00,None,12,0,0,0
305943,1323390556052037633,Fabibibioups,None,RT @andrebercoff: Un spectre hante désormais l...,2022-05-01 00:00:04+00:00,None,5060,0,0,0
305944,19897138,IndiaToday,India,Boris On Bulldozer: Members of UK parliament s...,2022-05-01 00:00:00+00:00,None,12,6,24,0

In [55]:
df.to_csv('colc_maay.csv', index=False)

In [13]:
newdata= df.copy()
newdata

,author_id,username,author_location,text,created_at,tweet_location,retweets,replies,likes,quote_count
0,1724911962,KeiranON,keiran.oneill@glasgow.gov.uk,RT @glasgowklove: #saveruchillcc @RuchillSave ...,2022-09-30 23:59:50+00:00,None,5,0,0,0
1,951862175899013121,greg90374301,"Richmond, London",RT @rodbishop15: The @BBCNews doesn’t want any...,2022-09-30 23:58:11+00:00,None,898,0,0,0
2,393800042,will_farquhar,"London, UK",@NewStatesman ‘Surgical Truss’ has defended Kw...,2022-09-30 23:57:48+00:00,None,0,0,0,0
3,136281845,krisxine,TORONTO,RT @Camilla_Fitzs: Spotted in Dublin 👏👏👏 #Cost...,2022-09-30 23:56:57+00:00,None,697,0,0,0
4,129955675,theminxiekitten,Fighting the brain bitch.,RT @mSharronSpice: “Her freeze on #energy #bil...,2022-09-30 23:56:56+00:00,None,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
1100533,1478741400682479628,jackjacktayler,None,"RT @dave43law: Hancock says ""Do you really wan...",2022-04-01 19:53:03+00:00,None,1307,0,0,0
1100534,629136292,DevonFeminist,"Devon, UK",RT @ClaireWrightInd: I honestly don't know how...,2022-04-01 19:52:51+00:00,None,2,0,0,0
1100535,308081961,Olwyn_55,None,RT @SandraDunn1955: @LemSip27 Check out @pplsa...,2022-04-01 19:52:49+00:00,None,14,0,0,0
1100536,2910978173,betsieboat,"New York, USA",RT @Britain_People: Our #energy system - like ...,2022-04-01 19:52:47+00:00,None,213,0,0,0
1100537,2966491103,jemloire,"Essex, England",RT @JulieForBurnley: The country has the worst...,2022-04-01 19:52:43+00:00,None,395,0,0,0